@import "mixins";
@import "variables";

.about {
  @include bg($about-bg__color, $about-bg__img, $main-font__color);
  display: flex;
  flex-direction: column;
  align-items: center;

    .about__title {
      @include font($main-header--big__size, $main-header--big__size * 1.25, $main-font__color);
      @include title($main-shadow);

        &::after {
          @include xxx(-6px);
        }
    }

    .about__list {
      @include list-reset();
      display: flex;
      justify-content: space-around;

      width: 960px;

      margin-bottom: 20px;
    }

    .about__item {
      width: 33%;
    }

}
