@import "mixins";
@import "variables";

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: -30px;
    left: 50%;

    width: 15px;
    height: 15px;
    border: 10px solid $about-circle__red;
    border-radius: 50%;

    box-shadow: $about-circle__shadow;
    background-color: $about-circle__red;
    transform: translateX(-50%);
  }
}

.about-item__title {
  @include font($main-header--small__size, $main-header--small__size * 1.25, $main-font__color);
  text-transform: uppercase;

  margin: 20px 0px 20px 0px;
}

.about-item__text {
  @include font($main-font__size, $main-font__size * 1.25, $main-font__color);
  margin: 0;

  text-align: center;
}
