.form-contact__label {
  @include visually-hidden();
}

.form-contact__input {
  width: 500px;

  padding: 5px 0px 5px 5px;
  margin-bottom: 6px;
  border: 2px solid $form__color;

  border-radius: 8px;

  color: $main-font__color;

    &::placeholder {
      color: $form__color;
    }

    &:focus,
    &:hover {
      border-color: $top-font__color;
      outline: none;
    }
}

.form-contact__input--text {
  resize: none;
}

.form-contact__input--red {
  border-color: red;
}
.form-contact__input--green {
  border-color: green;
}

.form-contact__submit {
  @include font(14px, 14px * 1.25, $main-font__color);
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 5px;

  background-color: $form-button__color;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $top-font__color;
    outline: none;
  }
}
