.image-wrapper {
  flex-shrink: 0;
  align-self: center;

  width: 250px;
  height: 170px;

  margin-right: 20px;

  border: 4px solid #fff;
  border-radius: 4px;

  box-shadow: $news-image__shadow;
}

.image-wrapper__news-image {
  display: block;

  width: 100%;
  height: 100%;
}
