@include keyframes(element--hide) {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(element--show) {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(link-animation) {
  0% {
    color: $top-font__color;
  }
  100% {
    color: $scroll-font__color--hover;
  }
};

@include keyframes(popup-animation) {
  0% {
    top: -5000px;
  }
  33% {
    top: 20%;
  }
  66% {
    top: 80%;
  }
  100% {
    top: 50%;
  }
};
