@mixin bg($bg__color, $bg__img, $font__color) {
  background-color: $bg__color;
  background-image: $bg__img;
  color: $font__color;

}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

@mixin font($font__size, $font__height, $font__color) {
  font-size: $font__size;
  line-height: $font__height;
  color: $font__color;
}

@mixin xxx($bottom) {
  content: "—xxx—";

  position: absolute;
  bottom: $bottom;
  left: 50%;

  font-size: 16px;
  line-height: 16px * 1.25;
  color: inherit;

  transform: translateX(-50%);
  text-shadow: none;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title($shadow) {
  position: relative;

  margin: 10px 0 50px 0;

  text-shadow: $shadow;

}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($name, $duration, $timing) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-fill-mode: forwards;
}

@mixin slider($name) {
  @include animation($name, 0.5s, linear);
}
