@import "mixins";
@import "variables";

.page-nav {
  width: 960px;
  max-height: 240px;
}

.page-nav__list {
  @include list-reset();
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

.page-nav__item {
  display: block;

  width: 20%;
  height: 100%;

  margin: 0;

  text-align: center;
}

.page-nav__logo {
  width: 130px;
  height: 130px;

  margin-top: 5px;
}

.page-nav__link {
  @include font($font-navigation__size, $font-navigation__height, $top-font__color);
  display: block;

  text-decoration: none;
  text-shadow: $link-shadow;

    &:hover,
    &:focus {
      @include frames(link-animation, 0.2s);
      text-shadow: $link-shadow--focus;
    }
}

.page-nav__link--logo {
  margin-top: 0;
}

.page-nav--scroll {
  max-height: 100px;
}

.page-nav__item--scroll {
  margin-top: 5px;
}

.page-nav__link--scroll {
  @include font($main-header--small__size, $main-header--small__size * 1.25, $top-font__color);
  margin: 0;
}

.page-nav__logo--scroll {
  width: 50px;
  height: 50px;
}
