@import "mixins";
@import "variables";

.page-header {
  @include bg($top-bg__color, $top-bg__img, $top-font__color);

  display: flex;
  justify-content: center;

  width: 100%;

  z-index: 1;

    .page-header__title {
      @include visually-hidden();
    }

    &--fixed {
      position: fixed;
    }

    &--hide {
      opacity: 0;
    }

    &:hover {
      opacity: 1;
    }
}
