.product {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;

  &--dog {
    align-items: flex-start;
  }

  &--cat {
    align-items: flex-end;
  }

  .product__title {
    align-self: center;

    margin: 0 0 10px 0;
  }

  .product__photo {
    display: block;

    max-width: 500px;
    max-height: 300px;
    margin-bottom: 20px;
  }

  .product__about {
    margin: 0;
  }
}
