.scroll-header {
  @include bg($top-bg__color, $top-bg__img, $top-font__color);

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;

  width: 100%;

  opacity: 0;
  z-index: 1;

    &--hide {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
}
