.slider-button {
  position: absolute;
  top: 50%;

  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;

  width: 30px;
  height: 30px;

  outline: none;
  background-color: #fbfaf6;
  transform: translateY(-50%);
  cursor: pointer;

    &:hover,
    &:focus {
      background-color: $top-bg__color;
    }
}

.slider-button--left {
  left: 0;
}

.slider-button--right {
  right: 0;
}

.slider-buttton--hide {
  @include frames(element--hide, 0.3s);
}

.slider-buttton--show {
  @include frames(element--show, 0.3s);
}
