.social-list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 30px;

    .social-list__item {
      margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }
    }
}
