.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;

  .text-wrapper__title {
    @include font($main-header--medium__size, $main-header--medium__size * 1.25, $main-font__color);
    margin: 0;
  }

  .text-wrapper__time {
    @include font($main-font__size, $main-font__size * 1.25, $main-font__color);
    position: relative;

    margin-bottom: 5px;

    font-weight: bold;

      &::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: -5px;

        width: 5%;
        height: 2px;

        background-color: #000;
      }
  }

  .text-wrapper__text {
    @include font($main-font__size, $main-font__size * 1.15, $main-font__color);
    margin: 0;
    text-align: justify;
  }
}
