$top-bg__color: #78b8b8;
$top-bg__img: url("../img/header__bg.jpg");
$scroll-bg__color: rgba(30, 30, 30, 0.7);
$scroll-font__color--hover: #ffdcb1;
$top-font__color: #f9ebd9;
$link-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
$link-shadow--focus: 2px 2px 2px rgba(0, 0, 0, 0.4);
$main-slider-bg__color: #e3dfd7;
$main-slider-title__shadow: 2px -1px 0px rgba(232, 244, 244, 0.3),
                            4px -2px 0px rgba(57, 73, 73, 0.3);
$main-font__color: #383a3c;
$main-font__size: 18px;
$main-header--big__size: 64px;
$main-header--medium__size: 36px;
$main-header--small__size: 24px;
$font-navigation__size: 34px;
$font-navigation__height: $font-navigation__size * 1.5;
$about-bg__color: #e1dccc;
$about-bg__img: url("../img/about__bg.jpg");
$about-circle__red: #d45244;
$about-circle__shadow: 0px 0px 0px 5px #f5eee3,
                      0px 0px 0px 10px #d45244;
$merch-bg__color: #e18867;
$merch-bg__img: url("../img/merch__bg.jpg");
$news-bg__color: #dedbd9;
$news-bg__img: url("../img/news__bg.jpg");
$news-image__shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
$contacts-bg__color: #4e5259;
$contacts-bg__img: url("../img/contacts__bg.jpg");
$contacts-font__color: #f6edd8;
$main-shadow: 1px 1px 0px #fcfaf7, 2px 2px 0px #484a4d;
$contacts-shadow: 1px 1px 0px #484a4d, 2px 2px 0px #d4cebf;
$form__color: #989b9f;
$form-button__color: #fcfaf7;
$overlay-bg__color: rgba(20, 20, 20, 0.8);
$popup__shadow: 0px 0px 15px 2px #e1e1e1;
$popup-border__color: #fbfaf6;
